<div class='panel-container'>
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <div class='row'>
        <div class='panel-icon'>
          <%= key %>
        </div>

        <div class='panel-text'>
          <div class='announcement-heading'>
            <%= number_to_human(value) %>
          </div>

          <div class='announcement-text'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
