*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.env
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/**/*.*
/coverage/*.*
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/**/*.*

## these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset
