---
http_interactions:
- request:
    method: get
    uri: https://bter.com/api/1/ticker/doge_cny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"result":"true","last":0.008111,"high":0.0093,"low":0.00752,"avg":0.008373,"sell":0.008139,"buy":0.008112,"vol_doge":725054080.344,"vol_cny":6070900.162632}
  recorded_at: Tue, 28 Jan 2014 13:43:21 GMT
- request:
    method: get
    uri: https://bter.com/api/1/ticker/doge_ltc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"result":"false","message":"Error: invalid currency pair"}
  recorded_at: Tue, 28 Jan 2014 13:43:21 GMT
- request:
    method: get
    uri: https://bter.com/api/1/ticker/doge_btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"result":"true","last":"0.00000168","high":"0.00000190","low":"0.00000153","avg":"0.00000177","sell":"0.00000168","buy":"0.00000167","vol_doge":248067910.9,"vol_btc":439.19167549}
  recorded_at: Tue, 28 Jan 2014 13:43:22 GMT
recorded_with: VCR 2.8.0
