.transactions-table, .exchanges-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}

.transasctions-table {
  @extend .pull-right;
}

tr.send {
  @extend .danger;
}

tr.receive {
  @extend .success;
}

.table-container {
  display: inline-block;
  height: 250px;
  overflow-y: scroll;

  @include make-lg-column(3);
  @include make-md-column(3);
  @include make-sm-column(6);
  @include make-xs-column(6);
}
