---
http_interactions:
- request:
    method: get
    uri: http://pubapi.cryptsy.com/api.php?method=marketdata
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"success\":1,\"notice\":\"Please update your clients to use marketdatav2
        call instead\",\"return\":{\"markets\":{\"ASC\":{\"marketid\":\"111\",\"label\":\"ASC\\/LTC\",\"lasttradeprice\":\"0.00005380\",\"volume\":\"4569144.82343799\",\"lasttradetime\":\"2014-01-28
        08:17:55\",\"primaryname\":\"AsicCoin\",\"primarycode\":\"ASC\",\"secondaryname\":\"LiteCoin\",\"secondarycode\":\"LTC\",\"recenttrades\":[{\"id\":\"19394717\",\"time\":\"2014-01-28
        08:29:05\",\"price\":\"0.00005317\",\"quantity\":\"2535.56721857\",\"total\":\"0.13481611\"},{\"id\":\"19394711\",\"time\":\"2014-01-28
        08:29:03\",\"price\":\"0.00005318\",\"quantity\":\"832.39204556\",\"total\":\"0.04426661\"},{\"id\":\"19394710\",\"time\":\"2014-01-28
        08:29:03\",\"price\":\"0.00005317\",\"quantity\":\"832.39204556\",\"total\":\"0.04425829\"},{\"id\":\"19394630\",\"time\":\"2014-01-28
        08:28:45\",\"price\":\"0.00005318\",\"quantity\":\"194.15964648\",\"total\":\"0.01032541\"},{\"id\":\"19392755\",\"time\":\"2014-01-28
        08:1[...]
