<section id="page_index">
  <header>
    <div class="pull-right">
      <a class="edit-btn" {{action startEditing}}>Edit</a>
    </div>
    <h1>{{name}} - {{ticker}}</h1>
  </header>
  {{#if isEditing}}
    testt
  {{else}}
    
  {{/if}}
</section>

