<section id="page_index">
  <header>
    <div class="pull-right">
    </div>
    <h1>Coins</h1>
  </header>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ticker</th>
        <th>Mined</th>
        <th>Last Synced</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each coin in controller}}
        {{view App.CoinInListView contentBinding="coin"}}
      {{/each}}
    </tbody>
  </table>

  <div class="row-fluid">
  </div>
</section>
