<!DOCTYPE html>
<html>
  <head>
    <title>SuchCoinWow</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='wrapper'>
      <div id='page-wrapper'>
        <div class='row'>
          <div class='col-lg-12'>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
